{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MovieHub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
          </li>
      </div>
    </div>
  </nav>
  <style>
    #img1{
      margin-left: 30px;
      width:1300px;
      height: 400px;
    }
    .card{
      display: inline-block;
      margin-top: 20px;
    }
    .card-img-top{
        width: 300px;
          height: 200px;
    }
    h3{
      margin-top: 20px;
      margin-left: 30px;
    }
  </style>
  
    <img id='img1' src="{% static 'disney-plus.jpg' %}" alt="noimg" height="550px">
 
    <h3>Available Movies</h3>
    <ul>
      {% for movie in movies %}
      
      <div class="card" style="width: 300px;">
        <img class="card-img-top" src="{{ movie.poster.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
      </div>
    </div>
        <!-- <li><a href="{% url 'view_movie' movie.id %}">{{ movie.title }}</a><br><a href="{% url 'submit_review' movie.id %}">Rate Review</a><br><a href="{% url 'view_reviews' movie.id %}">View Review</a> </li> -->
      {% endfor %}
      

    </ul>
 
  {% endblock%}